<div class="ui container">
  <div class="menu">
    {{#link-to 'home'}}
      <h1 class="left">
        <em>GitHub Search</em>
      </h1>
    {{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>