<div>
  <div></div>
  <h2>About GitHub Search</h2>
  <p>
    Search for any repo on GitHub, as long as GitHub's API is up and running :)
  </p>

  {{#ui-search source=keywords onSearchQuery=(action (mut query)) onSelect=(action (mut selected))}}
  	<input class="prompt" type="text" placeholder="Keywords...">
  	<div class="results"></div>
	{{/ui-search}}

  {{#each model as |repoItem|}}
    {{repo-listing repo=repoItem}}
  {{/each}}
</div>