<div>
  <div></div>
  <h2>About GitHub Search</h2>
  <p>
    Search for any repo on GitHub, as long as GitHub's API is up and running :)
  </p>

  {{#repo-search search=(action 'searchGitHub') as |repos|}}
    {{#each repos as |repoItem|}}
      {{repo-listing repo=repoItem}}
    {{/each}}
  {{/repo-search}}
</div>