<div>
  <div></div>
  <h2>About GitHub Search</h2>
  <p>
    Search for any repo on GitHub, as long as GitHub's API is up and running :)
  </p>

  {{#repo-search search=(action 'searchGitHub') as |repos|}}
    <div class="ui cards results" style="word-wrap: break-word;">
      {{#each repos as |repoItem|}}
        {{repo-listing class="card" repo=repoItem}}
      {{/each}}
      <p class="empty" style="display: none">Sorry, your keywords did not match any repos on GitHub</p>
    </div>
    <div class="ui inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  {{/repo-search}}
</div>
